<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <fieldset>
    <div>
      <app-form-text-input
        placeholder="Username"
        formControlName="username"
      ></app-form-text-input>
      <app-form-control-error-show
        *ngIf="formControlTouchOrDirty(loginForm.get('username'))"
        [errors]="loginForm.get('username').errors"
      ></app-form-control-error-show>
    </div>

    <div>
      <app-form-password-input
        placeholder="Password"
        formControlName="password"
      >
      </app-form-password-input>
      <app-form-control-error-show
        *ngIf="formControlTouchOrDirty(loginForm.get('password'))"
        [errors]="loginForm.get('password').errors"
      ></app-form-control-error-show>
    </div>

    <button class="btn btn-primary" type="submit">Login</button>
  </fieldset>
</form>
<p>Don't have an account?<a type="button" (click)="onGoRegisterPage()">Sign up</a> </p>