.date-display{
    font-weight: bold;
    font-size: x-small;
}

.date-likes-displayer{
    display: inline;
}

.likes-display{
    font-weight: bold;
    font-size: x-small;
}

i{
    cursor: pointer;
}