<div>
  <label>{{ label }}</label>
  <div class="input-display">
    <input
      #tag
      type="text"
      placeholder="{{ placeholder }}"
      class="form-control"
    />
    <button type="button" (click)="onAddTag(tag)">+</button>
  </div>
  <div>
    <span
      *ngFor="let tag of ngControl.value; let i = index"
      (click)="onDeleteTag(i)"
    >
      <button id="button" type="button">
        {{ tag.title }} <span class="delete-btn">x</span>
      </button>
    </span>
  </div>
</div>
