<div>
  <label>{{ label }}</label>
  <div>
    <input #tag type="text" placeholder="{{ placeholder }}" />
    <button type="button" (click)="onAddTag(tag)">+</button>

    <span
      id="container"
      *ngFor="let tag of ngControl.value; let i = index"
      (click)="onDeleteTag(i)"
    >
      <button id="button" type="button">
        {{ tag.title }} <span class="delete-btn">x</span>
      </button>
    </span>
  </div>
</div>

<!-- <div class="itembox" *ngFor="let tag of ngControl.value; let i = index" (click)="onDeleteTag(i)">
  {{ tag.title }}<div class="RemoveMediaNotif">x</div>
</div> -->
