<div>
  <div class="form-group">
    <label>Enter address</label>
    <div>
      <input
      class="form-control"
        type="text"
        (keydown.enter)="$event.preventDefault()"
        placeholder="Search Nearest Location"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        type="text"
        #search
      />
    </div>
  </div>

  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker
      [latitude]="latitude"
      [longitude]="longitude"
      [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"
    ></agm-marker>
  </agm-map>
</div>
