<div class="divMap">
  <div class="form-group"></div>

  <agm-map
    [latitude]="location?.latitude"
    [longitude]="location?.longtitude"
    (boundsChange)="markers?checkMarkersInBounds($event):null"
  >
    <div *ngFor="let marker of markers">
      <agm-marker
        [latitude]="marker?.location?.latitude"
        [longitude]="marker?.location?.longtitude"
        [iconUrl]="{
          url: iconMode ? icon.url : marker?.photoUrl,
          scaledSize: { height: 30, width: 20 }
        }"
      >
        <agm-info-window [disableAutoPan]="true">
          <div class="agm-info-window-content">
            <img src="{{ marker.photoUrl }}" />
            <button type="button" (click)="onGoToPost(marker.id)">Details</button>
          </div>
        </agm-info-window>
      </agm-marker>
    </div>
  </agm-map>
</div>
