<div>
  <label>{{ label }}</label>
  <div class="input-display">
    <input
      #userTag
      class="form-control"
      type="text"
      [ngbTypeahead]="search"
      [resultTemplate]="rt"
      placeholder={{placeholder}}
      (selectItem)="onSelectUser($event)"
      [inputFormatter]="formatter"
      [value]="taggedUser"
    />

    <ng-template #rt let-r="result" let-t="term">
      <ngb-highlight [result]="r.username" [term]="t"></ngb-highlight>
    </ng-template>
  </div>
</div>
<div>
  <span
    *ngFor="let userTag of this.taggedUsers; let i = index"
    (click)="onDeleteUserTagged(i)"
  >
    <button  type="button">
      {{ userTag.username }} <span class="delete-btn">x</span>
    </button>
  </span>
</div>
