<div>
  <label>{{ label }}</label>
  <div>
    <input
    #userTag
    id="typeahead-basic"
    type="text"
    [ngbTypeahead]="search"
    [resultFormatter]="formatter"
    [inputFormatter]="formatter"/>

    <ng-template #rt let-r="result" let-t="term">
      <ngb-highlight [result]="r" [term]="t"></ngb-highlight>
    </ng-template>

    <button type="button" (click)="onAddUserTag(userTag)">+</button>
    <span *ngFor="let tag of ngControl.value; let i = index" (click)="onDeleteUserTagged(i)">
        {{ tag.title }}
      </span>
  </div>
</div>
