.forms-displayer {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
 

}

.radius-form{
  display: contents;
}
.dates-form{
  display: contents;
}

.tags-form{
  display: contents;
}

.main-form{
  display: contents;
  
}

.form-item{
  margin:3pt;
}

