<!-- <div *ngIf="filterForm">
  <form
    [formGroup]="filterForm"
    (ngSubmit)="onFilter()"
    class="forms-displayer"
  >

  {{filter.radius.location.latitude}}
  {{filter.radius.location.longtitude}}
    <form formGroupName="radius">
      <app-form-number-input
        formControlName="distance"
        label="Distance:"
        placeholder="distance..."
      ></app-form-number-input>

      <app-form-control-error-show
        *ngIf="
          formControlTouchOrDirty(filterForm.get('radius').get('distance'))
        "
        [errors]="filterForm.get('radius').get('distance').errors"
      ></app-form-control-error-show>
    </form>

    <form formGroupName="dates">
      <app-form-input-date
        formControlName="startDate"
        label="Start Date:"
      ></app-form-input-date>
      <app-form-control-error-show
        *ngIf="
          formControlTouchOrDirty(filterForm.get('dates').get('startDate'))
        "
        [errors]="filterForm.get('dates').get('startDate').errors"
        message="null"
      ></app-form-control-error-show>
      <app-form-input-date
        formControlName="endDate"
        label="End Date:"
      ></app-form-input-date>
      <app-form-control-error-show
        *ngIf="formControlTouchOrDirty(filterForm.get('dates').get('endDate'))"
        [errors]="filterForm.get('dates').get('endDate').errors"
        message="null"
      ></app-form-control-error-show>
    </form>
    <p>
      <app-tag-input
        class="input-solo"
        label="Tags:"
        placeholder="tag..."
        formControlName="tags"
      ></app-tag-input>

      <app-usertag-input
        class="input-solo"
        label="Userstags:"
        placeholder="username..."
        formControlName="usersTags"
      ></app-usertag-input>
    </p>

    <button type="submit">Filter</button>
  
  </form> -->
<div *ngIf="filterForm">
  <form
    [formGroup]="filterForm"
    (ngSubmit)="onFilter()"
    class="forms-displayer"
  >
    <div class="btn-toolbar mx-auto" role="toolbar">
      <form formGroupName="radius" class="main-form">
        <app-form-number-input
          class="form-item"
          formControlName="distance"
          label="Distance:"
          placeholder="distance..."
        ></app-form-number-input>

        <app-form-control-error-show
          *ngIf="
            formControlTouchOrDirty(filterForm.get('radius').get('distance'))
          "
          [errors]="filterForm.get('radius').get('distance').errors"
        ></app-form-control-error-show>
      </form>

      <form formGroupName="dates" class="dates-form">
        <app-form-input-date
          class="form-item"
          formControlName="startDate"
          label="Start Date:"
        ></app-form-input-date>
        <app-form-control-error-show
          *ngIf="
            formControlTouchOrDirty(filterForm.get('dates').get('startDate'))
          "
          [errors]="filterForm.get('dates').get('startDate').errors"
          message="null"
        ></app-form-control-error-show>
        <app-form-input-date
          class="form-item"
          formControlName="endDate"
          label="End Date:"
        ></app-form-input-date>
        <app-form-control-error-show
          *ngIf="
            formControlTouchOrDirty(filterForm.get('dates').get('endDate'))
          "
          [errors]="filterForm.get('dates').get('endDate').errors"
          message="null"
        ></app-form-control-error-show>
      </form>

      <p class="tags-form">
        <app-tag-input
          class="form-item"
          class="input-solo"
          label="Tags:"
          placeholder="tag..."
          formControlName="tags"
        ></app-tag-input>

        <app-usertag-input
          class="form-item"
          class="input-solo"
          label="Userstags:"
          placeholder="username..."
          formControlName="usersTags"
        ></app-usertag-input>
      </p>

      <button type="submit">Filter</button>
    </div>
  </form>
</div>
<hr />
