<form
  [formGroup]="postForm"
  (ngSubmit)="savePost()"
  enctype="multipart/form-data"
>
  <fieldset>
    <legend>Post Form</legend>
    <div>
      <form formGroupName="location">
        <app-form-number-input
          formControlName="latitude"
          label="Latitude:"
          placeholder="latitude..."
        ></app-form-number-input>
        <app-form-number-input
          formControlName="longtitude"
          label="Longtitude:"
          placeholder="longtitude..."
        ></app-form-number-input>
      </form>
    </div>
 

    <app-form-image-input
      label="Photo:"
      formControlName="photo"
    ></app-form-image-input>

    <app-tag-input
      label="Tags:"
      placeholder="tag..."
      formControlName="tags"
    ></app-tag-input>

    <app-usertag-input
      label="Userstags:"
      placeholder="username..."
      formControlName="usersTags"
    ></app-usertag-input>

    <button type="submit">Save</button>
  </fieldset>
</form>
