<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <fieldset>
    <div>
      <app-form-text-input
        formControlName="fullName"
        [placeholder]="'Full name'"
      ></app-form-text-input>

      <app-form-control-error-show
        *ngIf="formControlTouchOrDirty(registerForm.get('fullName'))"
        [errors]="registerForm.get('fullName').errors"
      ></app-form-control-error-show>
    </div>

    <div>
      <app-form-text-input
        formControlName="username"
        placeholder="Username"
      ></app-form-text-input>
      <app-form-control-error-show
        *ngIf="formControlTouchOrDirty(registerForm.get('username'))"
        [errors]="registerForm.get('username').errors"
      ></app-form-control-error-show>
    </div>

    <div>
      <app-form-password-input
        formControlName="password"
        [placeholder]="'Password'"
      ></app-form-password-input>

      <app-form-control-error-show
        *ngIf="formControlTouchOrDirty(registerForm.get('password'))"
        [errors]="registerForm.get('password').errors"
      ></app-form-control-error-show>
    </div>

    <div>
      <app-form-password-input
        formControlName="repeatPassword"
        [placeholder]="'Repeat password'"
      ></app-form-password-input>
      <app-form-control-error-show
        *ngIf="formControlTouchOrDirty(registerForm.get('repeatPassword'))"
        [errors]="registerForm.get('repeatPassword').errors"
      ></app-form-control-error-show>
      <app-form-control-error-show
        *ngIf="formControlTouchOrDirty(registerForm.get('repeatPassword'))"
        [errors]="registerForm.errors"
        message="password and repeatPassword must be equals"
      ></app-form-control-error-show>
    </div>

    <div>
      <app-form-input-date
        formControlName="birthDate"
        placeholder="Birthdate"
      ></app-form-input-date>
      <app-form-control-error-show
        *ngIf="formControlTouchOrDirty(registerForm.get('birthDate'))"
        [errors]="registerForm.get('birthDate').errors"
        message="must be 18 years old"
      ></app-form-control-error-show>
    </div>

    <div>
      <app-form-text-input
        formControlName="address"
        placeholder="Address"
      ></app-form-text-input>
      <app-form-control-error-show
        *ngIf="formControlTouchOrDirty(registerForm.get('address'))"
        [errors]="registerForm.get('address').errors"
      ></app-form-control-error-show>
    </div>

    <div>
      <app-form-text-input
        formControlName="jobAddress"
        placeholder="Job address"
      ></app-form-text-input>
      <app-form-control-error-show
        *ngIf="formControlTouchOrDirty(registerForm.get('jobAddress'))"
        [errors]="registerForm.get('jobAddress').errors"
      ></app-form-control-error-show>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Register
    </button>
  </fieldset>
</form>
<p>Have an account? <a href="home/login">Log in</a></p>
