
  <div class="post-details-display">
    <div *ngIf="post">
      <div class="username-display">{{ post.user.username }}</div>
      <div class="date-display">{{ post.publishDate | date: "short" }}</div>
      <div>{{ post.text }}</div>
      <img src="{{ post.photo }}" />
      <div class="tag-likes-display">
        <div class="tags-display" *ngFor="let tag of post.tags">
          #{{ tag | lowercase }}
        </div>

        <span class="like-display" (click)="onSwitchLike()">
          <span *ngIf="post.isLikedByUser"
            ><i class="fas fa-heart red"></i
          ></span>
          <span *ngIf="!post.isLikedByUser"><i class="far fa-heart"></i></span>

          {{ post.likes }}</span
        >
      </div>
      <div class="userTags-display" *ngFor="let userTag of post.usersTags">
        @{{ userTag.username }}
      </div>
      <div>
        <app-comment-modal [postId]="postId"></app-comment-modal>({{
          post.commentsCount
        }})
      </div>
      <router-outlet></router-outlet>
    </div>
    <hr class="closestyle18">
  </div>

