<div class="post-details-display">
<div *ngIf="post">
<div class="username-display">{{post.user.username}}</div>
<div class="date-display">{{post.publishDate | date: short}}</div>
<div>{{post.text}}</div>
<img src="{{post.photo}}">
<div class="tag-likes-display">
<div class="tags-display" *ngFor="let tag of post.tags">
#{{tag.Title}}
</div>
<span class="like-display">{{post.likes.likes}} Likes</span>
</div>
<span>
    <app-comment-modal [postId]="postId"></app-comment-modal>
</span>
<router-outlet></router-outlet>
</div>
</div>
